[build-system]
requires = ["setuptools>=45", "setuptools_scm[toml]>=6.2"]

[project]
name = "ecoscope_workflows"
dynamic = ["version"]
# requires-python = ">=3.9"
description = ""
readme = "README.md"
authors = [
  { name = "Charles Stern", email = "charless@earthranger.com" }
]
classifiers = [
    "Development Status :: 1 - Planning",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Topic :: Scientific/Engineering",
]
# license = { text = "" }
# keywords = []
dependencies = [
    "jinja2",
    "pandera",
    "pydantic<2.9.0",
    "pydantic-settings",
    "ruamel.yaml",
    "ruff",  # for linting compiled workflows
    "tomli-w",
]

[project.optional-dependencies]
test = [
    "pytest",
]
lithops = [
    "lithops",
]
gcs = [
    "cloudpathlib[gs]",
]
notebook = [
    "jupytext",
]
visualize = [
    "pydot"  # requires system install of `graphviz` for the `dot` executable
]


[project.scripts]
ecoscope-workflows = "ecoscope_workflows.__main__:main"

[project.entry-points."ecoscope_workflows"]
tasks = "ecoscope_workflows.tasks"  # for extensions, this could be "my_custom_tasks.tasks"
# TODO: serde = "ecoscope_workflows.serde"  # for extensions, this could be "my_custom_serde.serde"

[project.urls]
Homepage = "https://github.com/wildlife-dynamics/ecoscope-workflows"
Tracker = "https://github.com/wildlife-dynamics/ecoscope-workflows/issues"

[tool.setuptools_scm]
write_to = "ecoscope_workflows/_version.py"
write_to_template = "__version__ = '{version}'"

[tool.setuptools.package-data]
ecoscope_workflows = ["py.typed"]

[tool.isort]
# Prevent isort & black from fighting each other
profile = "black"
