{% macro handle_call_method(t, validate, params, indent) %}
{{ indent }}{{ t.id }} = (
        {{ t.known_task.importable_reference.function }}
        {% if validate %}
        .validate()
        {% endif %}
        {% if t.partial %}
        .partial({% for arg in t.partial %}{{ arg }}={{ t.partial[arg] }}{% if not loop.last %},{% endif %}{% endfor %})
        {% endif %}
        .call(**{{ params }})
    )

{% endmacro %}


{% macro handle_parallel_method(t, validate, params, indent, argnames, argvalues) %}
{{ indent }}{{ t.id }} = (
        {{ t.known_task.importable_reference.function }}
        {% if validate %}
        .validate()
        {% endif %}
        {% if t.partial %}
        .partial({% for arg in t.partial %}{{ arg }}={{ t.partial[arg] }}{% endfor %}, **{{ params }})
        {% else %}
        .partial(**{{ params }})
        {% endif %}
        .{{ t.method }}(argnames={{ argnames }}, argvalues={{ argvalues }})
    )
{% endmacro %}


{% macro handle_task(t, validate, params, indent) %}
{% if t.method == "call" %}
    {{ handle_call_method(t, validate, params, indent) }}
{% else %}
    {% if t.method == "map" %}
        {% set argnames = t.map.argnames %}
        {% set argvalues = t.map.argvalues %}
    {% elif t.method == "mapvalues" %}
        {% set argnames = t.mapvalues.argnames %}
        {% set argvalues = t.mapvalues.argvalues %}
    {% endif %}
    {{ handle_parallel_method(t, validate, params, indent, argnames, argvalues) }}
{% endif %}
{% endmacro %}
