# ruff: noqa: E402

# %% [markdown]
# # {{ spec.name.title().replace("_", " ") }}
# TODO: top level description

# %% [markdown]
# ## Imports

{% for t in spec.tasks -%}
{{ t.known_task.importable_reference.statement }}
{% if loop.last %}
{% endif -%}
{% endfor -%}


{% for t in spec.tasks -%}
# %% [markdown]
# ## {{ t.known_task.importable_reference.function.title().replace("_", " ") }}

# %%
# parameters

{{ t.known_task.importable_reference.function }}_params = {{ t.known_task.importable_reference.params_notebook }}

# %%
# call the task

{{ t.known_task.importable_reference.function }}_return = {{ t.known_task.importable_reference.function }}(
{%- if t.arg_dependencies %}
    {% for arg in t.arg_dependencies %}{{ arg }}={{ t.arg_dependencies[arg] }},{% endfor %}
    **{{ t.known_task.importable_reference.function }}_params,
)
{% else %}**{{ t.known_task.importable_reference.function }}_params,
)

{% endif -%}

{% endfor %}
