{% macro handle_call_mode(t, params) %}
{{ t.id }} = {{ t.known_task.importable_reference.function }}(
{%- if t.arg_dependencies %}
    {% for arg in t.arg_dependencies %}{{ arg }}={{ t.arg_dependencies[arg] }},{% endfor %}
    **{{ t.id }}_params,
)
{% else %}**{{ t.id }}_params,
)
{% endif -%}
{% endmacro %}


{% macro handle_map_mode(t, params) %}
{{ t.id }}_mapped_iterable = map(
    lambda kw: {{ t.known_task.importable_reference.function }}(**kw),
    {% for arg in t.map_iterable %}
    [
        {
            "{{ arg }}": i,
            {%- if t.arg_dependencies %}
            {% for arg in t.arg_dependencies %}
            "{{ arg }}": {{ t.arg_dependencies[arg] }},
            {% endfor %}
            {%- endif %}
        } | {{ t.id }}_params
        for i in {{ t.map_iterable[arg] }}
    ],
    {% endfor %}
)
{{ t.id }} = list({{ t.id }}_mapped_iterable)
{% endmacro %}


{% macro handle_task(t) -%}
# %% [markdown]
# ## {{ t.name }}

# %%
# parameters

{{ t.id }}_params = {{ t.known_task.importable_reference.params_notebook }}

# %%
# call the task
{%- if t.mode == "call" %}
{{ handle_call_mode(t, params) }}
{%- elif t.mode == "map" %}
{{ handle_map_mode(t, params) }}
{% endif -%}
{% endmacro %}
