{% macro handle_call_mode(t, params) %}
    {{ t.id }} = {{ t.known_task.importable_reference.function }}.replace(validate=True)(
    {%- if t.arg_dependencies %}
        {% for arg in t.arg_dependencies %}
            {{ arg }}={{ t.arg_dependencies[arg] }},
        {% endfor %}
        **params["{{ t.id }}"],
    )
    {% else %}
        **params["{{ t.id }}"],
    )
    {% endif %}
{% endmacro %}


{% macro handle_map_mode(t, params) %}
    {{ t.id }}_mapped_iterable = map(
        lambda kw: {{ t.known_task.importable_reference.function }}.replace(validate=True)(**kw),
        [
            {
                {% for arg in t.map_iterable %}
                "{{ arg }}": {{ arg }},
                {% endfor %}
                {%- if t.arg_dependencies %}
                {% for arg in t.arg_dependencies %}
                "{{ arg }}": {{ t.arg_dependencies[arg] }},
                {% endfor %}
                {%- endif %}
            } | params["{{ t.id }}"]
            {% set iterable = t.map_iterable.values() | list | first %}
            {% if t.map_iterable | length == 1 %}
            for {{ arg }} in {{ iterable }}
            {% else %}
            for ({% for arg in t.map_iterable %}{{ arg }}{% if not loop.last%},{% endif %} {% endfor %}) in {{ iterable }}
            {% endif %}
        ],
    )
    {{ t.id }} = list({{ t.id }}_mapped_iterable)
{% endmacro %}


{% macro handle_mapvalues_mode(t, params) %}
    {{ t.id }}_mapped_iterable = map(
        lambda kv: (kv[0], {{ t.known_task.importable_reference.function }}.replace(validate=True)(**kv[1])),
        {% for arg in t.map_iterable %}
        [
            (
                k,
                {
                    "{{ arg }}": {{ arg }},
                    {%- if t.arg_dependencies %}
                    {% for arg in t.arg_dependencies %}
                    "{{ arg }}": {{ t.arg_dependencies[arg] }},
                    {% endfor %}
                    {%- endif %}
                } | params["{{ t.id }}"],
            )
            for (k, {{ arg }}) in {{ t.map_iterable[arg] }}
        ],
        {% endfor %}
    )
    {{ t.id }} = list({{ t.id }}_mapped_iterable)
{% endmacro %}


{% macro handle_task(t, params) %}
{% if t.mode == "call" %}
    {{ handle_call_mode(t, params) }}
{% elif t.mode == "map" %}
    {{ handle_map_mode(t, params) }}
{% elif t.mode == "mapvalues" %}
    {{ handle_mapvalues_mode(t, params) }}
{% endif %}
{% endmacro %}
