name: Unit Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "*" ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        mark-io: ["not io"]  # , "io"] TODO: io tests

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: "pip"

    - name: Install dependencies & our package
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e ".[test]"

    - name: Test with pytest
      run: |
        pytest -m "${{ matrix.mark-io }}" tests -vvv 

    # - name: Upload Coverage to Codecov
    #   uses: codecov/codecov-action@v2
